# ignore compiled mains
main1
main1_findenergy
main2_findenergy_3d
main3_bessel
main7
main6
main1_plot
main2_findenergy_3d_precise
main2_plot
main6_smallvariations

# Ignore output data but not cherry picked ones
!data/
data/*
!data/save/
